/*********************************************/
/*****                                   *****/
/*****  Documento CSS                    *****/
/*****                                   *****/
/*****  Fecha: 07/11/2016                *****/
/*****  Autor: Lcda. Dayan Betancourt    *****/
/*****                                   *****/
/*********************************************/
@import "https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300,400";

/*********************************************/
/*****        Etiquetas Globales         *****/
/*********************************************/
body {
  background-color: #222222;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
	color: #333333;
	font-family: "Raleway", sans-serif;
	font-weight: 200;
}

h1 {
  box-shadow: 4px 4px 4px 2px #CCCCCC;
  margin-bottom: .8em;
}

/*********************************************/
/*****        Etiquetas Generales        *****/
/*********************************************/
.boton-transparente {
	background-color: transparent;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 16px;
	padding: 15px 20px;
}

.boton-transparente:hover {
	border: 2px solid #FFFFFF;
	color: #FFBE00;
}

.boton-amarillo {
	background-color: #FFBE00;
	color: #FFFFFF !important;
}

.boton-amarillo:hover {
	background-color: transparent;
	color: #FFBE00 !important;
}

.alert-success {
  background-color: #57C259;
  border-color: #57C259;
  color: #FFFFFF;
}

.alert-info {
  background-color: #31708F;
  border-color: #31708F;
  color: #FFFFFF;
}

.alert-warning {
  background-color: #F9F227;
  border-color: #F9F227;
  color: #222222;
}

.alert-danger {
  background-color: #F93733;
  border-color: #F93733;
  color: #FFFFFF;
}

.icono {
  font-size: 2em;
}

/*********************************************/
/*****               Login               *****/
/*********************************************/
.login {
  background-color: #222222;
  background-image: url("../img/top.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  color: #FFFFFF;
  min-height: 100vh;
  overflow: hidden;
  padding: 1em 0;
}

.login-wrapper {
  margin: 20vh auto 0 auto;
  text-align: center;
  width: 400px;
}

.login-wrapper h1, .login-wrapper h2, .login-wrapper h3, .login-wrapper h4, .login-wrapper h5, .login-wrapper h6 {
  color: #FFFFFF;
  font-weight: 400;
}

.login-wrapper a {
  color: #FFFFFF;
}

.login-wrapper .has-error {
  background-color: rgba(250, 250, 250, .6);
}

/*********************************************/
/*****            Off Canvas             *****/
/*********************************************/
.sidebar-offcanvas {
	background-color: #222222;
	color: #FFFFFF;
  min-height: 100vh;
  padding: 0;
}

.sidebar-offcanvas .logo {
  background-color: #999999;
  padding: 10px 0;
}

.sidebar-offcanvas .nav {
  box-shadow: rgba(0,0,0,0.25) 0 1px 0, inset rgba(255,255,255,0.16) 0 1px 0;
  margin-top: 2px;
}

.sidebar-offcanvas .perfil {
  background-color: #FFBE00;
  padding: 1em 0;
}

.sidebar-offcanvas .perfil .perfil-marco {
  float: left;
  margin: 0 2%;
  width: 40%;
}

.sidebar-offcanvas .perfil .perfil-img {
  width: 80%;
}

.sidebar-offcanvas .perfil .perfil-info {
  float: left;
  margin: 0 2%;
  width: 52%;
}

.sidebar-offcanvas .nav-pills>li>a {
  border-radius: 0;
}

.sidebar-offcanvas .nav>li>a:focus, .sidebar-offcanvas .nav>li>a:hover {
  background-color: #FFBE00;
  box-shadow: rgba(0,0,0,0.25) 0 1px 0, inset rgba(255,255,255,0.16) 0 1px 0;
  text-decoration: none;
}

/*********************************************/
/*****               Main                *****/
/*********************************************/
.main {
  background-color: #FFFFFF;
	border-left: 1px solid #EEEEEE;
  min-height: 100vh;
}

/*********************************************/
/*****           MEDIA QUERIES           *****/
/*********************************************/
@media screen and (max-width: 767px) {
  .login-wrapper {
    width: 80%;
  }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -80%;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -80%;
  }

  .row-offcanvas-right.active {
    margin-right: 0;
    right: 80%;
  }

  .row-offcanvas-left.active {
    margin-left: 0;
    left: 80%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 80%;
  }
}