/*********************************************/
/*****                                   *****/
/*****  Documento CSS                    *****/
/*****                                   *****/
/*****  Fecha: 07/11/2016                *****/
/*****  Autor: Lcda. Dayan Betancourt    *****/
/*****                                   *****/
/*********************************************/
@import "https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300,400";

/*********************************************/
/*****        Etiquetas Globales         *****/
/*********************************************/
body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
	color: #333333;
	font-family: "Raleway", sans-serif;
	font-weight: 200;
}

/*********************************************/
/*****        Etiquetas Generales        *****/
/*********************************************/
.navbar-brand {
  padding: 4px 15px;
}

.navbar .logo {
	width: 100px;
}

.eslogan {
	font-family: "Raleway", sans-serif;
	font-size: 1.2em;
	margin: 1em 0;
}

.boton-transparente {
	background-color: transparent;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 16px;
	padding: 15px 20px;
}

.boton-transparente:hover, .boton-transparente:focus {
	border: 2px solid #FFFFFF;
	color: #FFBE00;
}

.boton-amarillo {
	background-color: #FFBE00;
	color: #FFFFFF !important;
}

.boton-amarillo:hover, .boton-amarillo:focus {
	background-color: transparent;
	color: #FFBE00 !important;
}

.boton-amarillo2 {
	background-color: #FFBE00;
	color: #FFFFFF !important;
}

.boton-amarillo2:hover, .boton-amarillo2:focus {
	background-color: #FFFFFF;
	color: #FFBE00 !important;
}

.boton-naranja1 {
	background-color: #D93600;
	border: 2px solid #D93600;
	color: #FFFFFF !important;
}

.boton-naranja1:hover, .boton-naranja1:focus {
	background-color: transparent;
	border: 2px solid #D93600;
	color: #D93600 !important;
}

.boton-naranja2 {
	background-color: #F89400;
	border: 2px solid #F89400;
	color: #FFFFFF !important;
}

.boton-naranja2:hover, .boton-naranja2:focus {
	background-color: transparent;
	border: 2px solid #F89400;
	color: #F89400 !important;
}

.separador {
	border: 0;
	height: 2px;
	text-align: center;
	background: #CECECE; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 0%, #CECECE 50%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#CECECE), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#CECECE 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 0%,#CECECE 50%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 0%,#CECECE 50%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffffff 0%,#CECECE 50%,#ffffff 100%); /* W3C */
}

.separador2 {
	border: 0;
	height: 2px;
	text-align: center;
	background: #FFFFFF; /* Old browsers */
	background: -moz-linear-gradient(left,  #CCCCCC 0%, #FFFFFF 50%, #CCCCCC 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#CCCCCC), color-stop(50%,#FFFFFF), color-stop(100%,#CCCCCC)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #CCCCCC 0%,#FFFFFF 50%,#CCCCCC 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #CCCCCC 0%,#FFFFFF 50%,#CCCCCC 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #CCCCCC 0%,#FFFFFF 50%,#CCCCCC 100%); /* IE10+ */
	background: linear-gradient(to right,  #CCCCCC 0%,#FFFFFF 50%,#CCCCCC 100%); /* W3C */
}

.franja-gris {
	background-color: #BBBBBB;
	color: #FFFFFF;
	padding: 1em 0;
}

.franja-gris h1,
.franja-gris h2,
.franja-gris h3 {
	color: #FFFFFF;
}

.opaco {
	background-color: #CCCCCC;
	-webkit-opacity: 0.3;
	   -moz-opacity: 0.3;
	   	-ms-opacity: 0.3;
	   	 -o-opacity: 0.3;
					opacity: 0.3;
}

.boton_foto {
	background-color: #CCCCCC;
	border: 1px solid #FFFFFF;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   	-ms-border-radius: 4px;
	   	 -o-border-radius: 4px;
	   	    border-radius: 4px;
  bottom: 20px;
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	left: 0;
	margin: 0 20%;
	-webkit-opacity: 0.8;
	   -moz-opacity: 0.8;
	   	-ms-opacity: 0.8;
	   	 -o-opacity: 0.8;
	   	    opacity: 0.8;
  filter: alpha(opacity=80);
	position: absolute;
	padding: 10px;
	text-align: center;
	width: 60%;
	z-index: 10;
}

.boton_foto:hover {
	background-color: #FFFFFF;
	color: #000000;
}

/*********************************************/
/*****            Navegacion             *****/
/*********************************************/
.navegacion {
	background-color: #EEEEEE;
	padding: 1em;
}

.navegacion .nav-pills>li>a {
	border: 2px solid #FFBE00;
	color: #FFBE00;
	font-weight: bold;
	margin: 0 4px;
}

.navegacion .nav>li>a:focus, .navegacion .nav>li>a:hover {
	border-color: #FFBE00;
  background-color: #FFBE00;
  color: #FFFFFF;
  font-weight: normal;
  text-decoration: none;
}

.navegacion .nav-pills>li.active>a, 
.navegacion .nav-pills>li.active>a:focus, 
.navegacion .nav-pills>li.active>a:hover {
	border-color: #D93600;
  background-color: #D93600;
  color: #FFFFFF;
  font-weight: normal;
}

/*********************************************/
/*****               Compra              *****/
/*********************************************/
.compra {
	padding: 1em;
}

.compra label {
	font-weight: normal;
	margin-bottom: .6em;
}

/*********************************************/
/*****              Portada              *****/
/*********************************************/
.portada {
	background-attachment: fixed;
	background-image: url("../img/deliverytroop_bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
		 	 -o-background-size: cover;
		 	 		background-size: cover;
	color: #FFFFFF;
	height: 50vh;
	margin-bottom: 1em;
	overflow: hidden;
	padding: 2em 0;
}

.portada .logo {
	margin: 0 auto;
	width: 100%;
}

/*********************************************/
/*****             Encabezado            *****/
/*********************************************/
.encabezado {
	background-image: url("../img/top.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
		 	 -o-background-size: cover;
		 	 		background-size: cover;
	color: #FFFFFF;
	overflow: hidden;
	padding: 1em 0;
}

/*********************************************/
/*****           PIE DE PÁGINA           *****/
/*********************************************/
.piepag {
	background-color: #999999;
	color: #FFFFFF;
	padding: 40px 0;
	text-align: center;
}

.piepag a {
	color: #FFFFFF;
}

.piepag .copy {
	border-right: 1px solid #FFFFFF;
	font-size: .8em;
	text-align: center;
}

.piepag ul {
	margin: 0;
	margin-left: 10px;
	padding: 0;
}

.piepag ul li {
	list-style-type: none;
}

.piepag ul li a {
  display: block;
  padding: 10px 0;
}

/*********************************************/
/*****              Contacto             *****/
/*********************************************/
.contacto, .contacto2 {
	padding: 1em 0;
}

.contacto a {
	color: #333333;
	text-decoration: none;
}

.contacto2 a {
	color: #FFFFFF;
	text-decoration: none;
}

.contacto .icono, .contacto2 .icono {
	color: #FFBE00;
	display: block;
	font-size: 3em;
	margin-bottom: 10px;
}

.contacto .info, .contacto2 .info {
	margin: 1em 0;
}

.contacto .boton1, .contacto .boton2 {
	text-align: center;
}

.contacto .boton2 {
	margin-top: 1em;
}

/*********************************************/
/*****            Restaurante            *****/
/*********************************************/
.restaurante-grilla {
	color: #000000;
	margin-bottom: 1em;
  text-align: center;
}

.restaurante {
	background-color: #FFFFFF;
	color: #333333;
}

.restaurante h3 {
	color: #333333;
}

/*********************************************/
/*****             Producto              *****/
/*********************************************/
.producto-grilla {
	color: #000000;
	margin-bottom: 1em;
  text-align: center;
}

.producto-grilla .imagen {
	max-height: 288px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

.producto-grilla .info {
	background-color: #FFBE00;
	margin-top: 4px;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

.producto-grilla .titulo {
	font-weight: bold;
}

.producto-grilla .precio {
	color: #FFFFFF;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}

.producto-grilla .resumen {
	display: block;
	font-size: 0.8em;
}

.producto-grilla .resumen a {
	border-bottom: 1px dashed #000000;
	color: #000000;
	padding-bottom: 2px;
}

#ProductoOrdenar .precio {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}

/*********************************************/
/*****           MEDIA QUERIES           *****/
/*********************************************/
@media screen and (min-width: 568px) and (max-height: 768px) {
	.portada {
		height: 70vh;
	}

	.portada .logo {
		width: 80%;
	}
}

@media screen and (max-width: 768px) and (max-height: 768px) and (orientation: landscape) {
	.portada {
		height: 100vh;
	}

	.portada .logo {
		width: 60%;
	}
}

@media screen and (min-width: 768px) {
	.eslogan {
		font-size: 1.8em;
	}

	.contacto .boton1 {
		text-align: right;
	}

	.contacto .boton2 {
		margin: 0;
		text-align: left;
	}

	.piepag {
		text-align: left;
	}

	.producto-grilla .titulo {
		float: left;
		width: 70%;
	}

	.producto-grilla .precio {
		float: left;
		width: 30%;
	}

	.producto-grilla .resumen {
		clear: both;
	}
}

@media screen and (min-width: 992px) {
	.eslogan {
		font-size: 2.2em;
	}
}